<script type="text/javascript">
(function($) {  // Avoid conflicts with other libraries

'use strict';

	var title = '{LA_WHOPOSTED_TITLE} - {LA_WHOPOSTED_EXP}';
	
	phpbb.addAjaxCallback('who_posted.display', function(data) {
		if (data.error) {
			console.log(data.error);
			phpbb.alert(data.title, data.error);

			return;
		}

		var data_array = '<h5>{LA_USERNAME}<span class="whoposted_posts">{LA_POSTS}</span></h5>';
		$.each(data, function (index, value) {
			data_array +='' + value.username + '<span class="whoposted_posts">' + value.posts + '</span><br>';
		});
		phpbb.alert(title, data_array);
	});

})(jQuery);
</script>